.header {
  display: flex;
  align-items: justify;
  justify-content: space-between;
  position: fixed;
  background-color: hsla(0, 0%, 73%, 0.3);
  top: 0;

}

.header ul {
  display: flex;
  list-style-type: none;
}

.header ul li {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 14px;
}

img {
  width: 12vw;
  height: 10vh;
}

.product, .specs {
  padding: 40px;
}
.specs-data {
  padding-top: 30px;
}

.product-price {
  color: blue;
  font-style: italic;
}
.video {
  border: 5px solid black;
}

td:first-child {
  font-weight: bold;
}

.inquiry {
  font-weight: 500;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;;
}
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) { 
}
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {

}

